@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
}

#logo {
    width: 150px;
}

.header {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 196px;
    background-color: black;
}

nav {
    display: flex;
    gap: 32px;
    
}

nav button {
    font-size: 26px;
    font-family: Poppins;
    font-size: 700;
    border: none;
    background-color: transparent;
    color: whitesmoke;
}

.home {
    position: relative;
    display: inline-block;
}


.home #burger-img {
    width: 100%;
    opacity: 0.9;
    display: block;
    height: auto;
    
}

.home .overlay-text {
    position: absolute;
    left: 50%;
    color: whitesmoke;
    font-size: 34px;
    transform: translate(-50%, -50%); 
    font-weight: 700;
}

.home #brand-name {
    top: 10%;
}

.home #text-home {
    top: 20%;
    
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 36px;
}

.menu img {
    width: 350px;
}

.menu .menu-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 96px;
    gap: 96px 0;
}

.menu h1 {
    font-weight: 900;
    font-size: 48px;
}

.contact {
    margin: 96px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    border-radius: 12px;
}